/* blank slate */
*{
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

/* general */
body{
    background-color: black;
    font-family: sans-serif;
    text-align: center;
    color: white;
    padding: auto;
}

h1 {
    font-size: 3rem;
    text-decoration: underline;
}

h2 {
    font-size: 1.5rem;
    text-decoration: underline;
}

p{
    margin-bottom:1rem;
}


/* small screen size */
@media (max-width: 600px){
    header, section, footer, div{
        max-width: 20rem;
        margin: auto;
        align-items: center;
        /* max-height: 10rem; */
        display: flex;
        flex-direction: column;

    }
    #HangPic {
        border:solid;
        width: 100%;
    }
    .infoBox{
        width: 100%;
    }

    .settingClass{
        width: 30rem;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}


/* large screen size */
@media (min-width: 600px){
    #game{
        display: flex;
        justify-content: center;
    }
    #HangPic {
        border:solid;
        max-width: 50%;
        /* max-height: 80%; */
    }
    .infoBox {
        max-width: 50%;
        margin: 0;
        padding: 0.5rem;
        /* margin: auto; */
    }

    .settingClass{
        width: 30rem;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
}

/* ID's */
#HangPic {
    border:solid;
}

#submit{
    margin-top: 1em;
}

#startBtn{
    width: 100%;
    height: 100%;
    background-color: #555;
    color: white;
    font-size: 3rem;
    text-decoration: underline;
}


/* classes */
.infoBox {
    border: solid;
}

.invis{
    display: none;
}

.Ilink{
    width: 20rem;
    border:solid;
    border-color: white;
    transition: all 1s;
}

.Ilink:hover{
    padding: 1rem;
}

.settingbox{
    width: 50%;
    height: 50%;
    border: solid;
    border-color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
}

