/* blank slate */
*{
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* general */
body{
    width: 100vw;
    height: 100vh;


    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: black;
    font-family: sans-serif;
    color: white;
    padding: auto;
}

h1 {
    font-size: 3rem;
    text-decoration: underline;
}

h2 {
    font-size: 1.5rem;
    text-decoration: underline;
}

p{
    margin-bottom:1rem;
}

.invis {
    display: none;
}

:root {
    --link-hover-color: #ffffff;
    --link-color: #cccccc;
    --nav-background-color: #333333;

    --wrapperWidth: 90vh;
    --pic-width: 55%;
}

@media (max-width: 600px) {
    :root{
        --wrapperWidth: 100vw;
    }
}

nav{
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--nav-background-color);
}

.link{
    /* text-decoration: underline; */
    color: var(--link-color);
    margin-left: 1em;
    transition: 0.5s;
}

.link:hover{
    color: var(--link-hover-color);
    cursor: pointer;
}

#startBtn{
    width: 100%;
    height: 100%;
    background-color: #555;
    color: white;
    font-size: 3rem;
    text-decoration: underline;

}

#game{
    display: flex;
    margin: 0;
    margin-top: 1rem;
    max-height: 100vh;
    max-width: var(--wrapperWidth);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#HangPic{
    border: 1px solid white;
    width: var(--pic-width)
}

.settingbox{
    border: 1px solid white;
}

.settingClass{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.infoBox{
    width: 100%;
    text-align: center;
}

#wordBox{
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

#keybord{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* align-items: center; */
}

.lineStyle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 0;
}

.letterBoxStyle{
    display: flex;
    background-color: #555;
    margin: 0.3rem;
    flex-grow: 1;
}

.letterStyle{
    margin: 0;
    font-size: 2rem;
    padding: 0;
}